html {
  box-sizing: border-box;
}
*,
*:before *:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
main {
  margin: 20px auto;
  width: 956px;
  border: 1px solid black;
}
header.primary {
  width: 916px;
  margin-left: 20px;
  float: left;
}


#blog {
  width: 448px;
  margin: 20px;
  float: left;
}
aside{
    width: 448px;
    margin-top: 20px;
    float: left;
}
footer{
    width: 916px;
  margin-left: 20px;
  float: left;
}
